.advantages {
  text-align: center;
  text-transform: uppercase;
  background-color: $color-main;
}

// Описание
.advantages__description-wrapper {
  padding: 35px $p-l-r 17px;

  @media (min-width: $width-tablet) {
    padding: 50px $p-l-r-tablet 55px;
  }

  @media (min-width: $width-desctop) {
    padding: 60px $p-l-r-desctop 45px;
  }
}

.advantages__description-content {
  @include margin-0-auto;

  max-width: 520px;
}

.advantages__description-title {
  @include title;
  font-size: 18px;

  &:not(:last-child) {
    margin-bottom: 35px;

    @media (min-width: $width-tablet) {
      margin-bottom: 29px;

      .breaker--tablet {
        display: none;
      }
    }
  }

  @media (min-width: $width-tablet) {
    font-size: 21px;
  }
}

.advantages__description-text {
  @include text;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

// Преимущества - основной список
.advantages__list {
  @include list-style-none;

  display: grid;

  @media (min-width: $width-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;
  background-color: $color-surface-lighten;

  &::before {
    content: "";
    position: absolute;
    left: $p-l-r;
    right: $p-l-r;
    bottom: 0;
    height: 1px;
    background-color: $color-surface-border;
  }

  &:last-child::before {
    content: none;
  }

  @media (min-width: $width-tablet) {
    &::before {
      content: none;
    }
  }

  &--accent {
    color: $color-main;
    background-color: $color-accent;

    @media (min-width: $width-tablet) {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &::before {
      content: none;
    }
  }
}

.advantages__item:first-child {
  position: relative;
  padding-top: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 37px;
    background-color: transparent;
    background-image: url("../img/background/background-triangle-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }

  @media (min-width: $width-tablet) {
    padding-top: 0;

    &::before {
      content: none;
    }
  }
}

.advantages__item-wrapper {
  padding: 27px $p-l-r 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--accent {
    padding: 40px $p-l-r 36px;
  }

  &--accent-first {
    padding: 16px $p-l-r 40px;
  }

  @media (min-width: $width-tablet) {
    min-height: 256px;
    padding: 33px;

    &--accent {
      padding: 33px;
    }

    &--accent-secondary {
      grid-column-start: 2;
    }
  }

  @media (min-width: $width-desctop) {
    padding: 50px;

    &--accent {
      padding: 50px;
    }
  }
}

.advantages__item-accent-wrapper {
  display: grid;
  grid-auto-flow: dense;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 2fr;
  }

  &--secondary {
    @media (min-width: $width-tablet) {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.advantages__title {
  @include title;

  .breaker {
    display: none;
  }

  @media (min-width: $width-tablet) {
    font-size: 21px;

    .breaker--tablet {
      display: inline;
    }
  }

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  &--accent {
    color: $color-main;
  }

}

.advantages__number {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 15px;

    @media (min-width: $width-tablet) {
      margin-bottom: 22px;
    }
  }
}

.advantages__text {
  @include text;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .breaker {
    display: none;

    &--mobile {
      display: inline;
    }
  }

  @media (min-width: $width-tablet) {
    .breaker--mobile {
      display: none;
    }

    .breaker--tablet {
      display: inline;
    }
  }

  @media (min-width: $width-desctop) {
    .breaker {
      display: none;
    }

    .breaker--desctop {
      display: inline;
    }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 260px;
  object-fit: cover;
}

// Преимущества - внутренний список
.advantages__sub-list {
  @include list-style-none;

  display: grid;
  gap: 25px;
  padding: 23px $p-l-r 42px;
  text-align: left;
  color: $color-secondary-light;
  background-color: $color-main;

  @media (min-width: $width-tablet) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 0;
  }
}

.advantages__sub-item {
  position: relative;
  padding-top: 8px;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--house::before {
    background-image: url("../img/advantages/advantages-icon-house.svg");
  }

  &--food::before {
    background-image: url("../img/advantages/advantages-icon-food.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/advantages/advantages-icon-souvenirs.svg");
  }

  @media (min-width: $width-tablet) {
    padding: 156px 33px 63px 33px;
    text-align: center;

    &::before {
      content: "";
      top: 55px;
      left: 50%;
      transform: translateX(-50%);
      width: 77px;
      height: 77px;
    }
  }

  @media (min-width: $width-desctop) {
    padding: 170px 50px 70px 50px;
    text-align: center;

    &::before {
      content: "";
      top: 66px;
      left: 50%;
      transform: translateX(-50%);
      width: 77px;
      height: 77px;
    }
  }
}

// .advantages__sub-item-wrapper {
// }

.advantages__sub-title {
  @include title;

  @media (min-width: $width-tablet) {
    font-size: 21px;
  }

  &:not(:last-child) {
    margin-bottom: 17px;

    @media (min-width: $width-tablet) {
      margin-bottom: 21px;
    }
  }
}

.advantages__sub-text {
  @include text;

  .breaker {
    display: none;
  }

  @media (min-width: $width-tablet) {
    .breaker--tablet {
      display: inline;
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
