.footer-copyright {
  max-width: 220px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    // margin-right: 20px;
  }
}


.footer-copyright__link {
  display: flex;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: $color-secondary;
  outline: none;

  &:hover {
    color: $color-accent;
  }

  &:focus {
    color: $color-accent;
  }

  &:active {
    color: $color-surface-lightest;
  }
}

.footer-copyright__text {
  margin-right: 8px;
}

.footer-copyright__image {
  fill: $color-secondary;
  flex-shrink: 0;
}

.footer-copyright__link:hover .footer-copyright__image,
.footer-copyright__link:focus .footer-copyright__image {
  fill: $color-accent;
}

.footer-copyright__link:active .footer-copyright__image {
  fill: $color-surface-lightest;
}
