.hero {
  min-height: 160px;
  padding: 90px $p-l-r 85px;
  text-align: center;
  color: $color-main;
  background-color: $color-accent-dark;
  background-image: url("../img/background/background-triangle-1@1.svg"),
    url("../img/background/background-photo-1@1.jpg");

  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: bottom, center;

  &--secondary {
    background-position: bottom, bottom;
    padding: 60px $p-l-r 67px;
  }

  // clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
}

.hero__wrapper {

}

.hero__image {
  @include margin-0-auto;

  display: block;
}
