.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-secondary-light;

  background-color: $color-surface;
}

.page__container {
  @include margin-0-auto();

  // width: 320px;
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $color-main;
  box-shadow: 0 0 15px $color-shadow-02;

  @media (min-width: $width-tablet) {
    // width: $width-tablet;
  }

  @media (min-width: $width-desctop) {
    // width: $width-desctop;
  }
}
