.search {
  padding: 42px $p-l-r 48px;

  text-align: center;
  text-transform: uppercase;
  background-color: $color-main;

  @media (min-width: $width-tablet) {
    padding: 60px $p-l-r-tablet 58px;
  }

  @media (min-width: $width-desctop) {
    padding: 60px $p-l-r-desctop 66px;
  }
}

.search__wrapper {
  @include margin-0-auto;

  max-width: 458px;
}

.search__title {
  @include title;

  font-size: 21px;
  line-height: 26px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $width-tablet) {
      margin-bottom: 35px;
    }

    @media (min-width: $width-desctop) {
      margin-bottom: 32px;
    }
  }

  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.search__text {
  @include text;

  &:not(:last-child) {
    margin-bottom: 30px;

    @media (min-width: $width-tablet) {
      margin-bottom: 38px;
    }

    @media (min-width: $width-desctop) {
      margin-bottom: 45px;
    }
  }
}

.search__button {
  display: block;
}
