.survey {
  background-color: $color-main#ffffff;
}

// Описание
.survey__description-wrapper {
  padding: 35px $p-l-r 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    padding: 64px $p-l-r-tablet 78px;
  }

  @media (min-width: $width-desctop) {
    padding: 115px $p-l-r-desctop 40px;
  }
}

.survey__description-content {
  @include margin-0-auto;

  max-width: 520px;
}

.survey__description-title {
  @include title;

  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: $width-tablet) {
      margin-bottom: 20px;
    }

    @media (min-width: $width-desctop) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $width-tablet) {
    font-size: 30px;
  }
}

.survey__description-text {
  @include text;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .breaker {
    display: none;
  }

  @media (min-width: $width-tablet) {
    line-height: 24px;

    .breaker--tablet {
      display: inline;
    }
  }
}

// Форма опроса
.survey__form-wrapper {
  @media (min-width: $width-tablet) {
    padding: 24px $p-l-r-tablet 60px;
  }

  @media (min-width: $width-desctop) {
    padding: 24px $p-l-r-desctop 60px;
  }
}

// .survey__form {
// }

.survey__columns {
  position: relative;
  display: grid;

  @media (min-width: $width-tablet) {
    row-gap: 44px;
    margin-bottom: 32px;
    padding-bottom: 15px;
  }

  @media (min-width: $width-desctop) {
    margin-bottom: 40px;
  }

  &::before {
    @media (min-width: $width-tablet) {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51%;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $color-surface-border-lighten;
    }
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.survey__group-wrapper {
  padding: 24px $p-l-r 22px;
  border-top: 1px solid $color-surface-dark;

  @media (min-width: $width-tablet) {
    margin-bottom: 46px;
    padding: 0;

    border: none;
  }

  &--column {
    @media (min-width: $width-tablet) {
      margin-bottom: 0;
    }
  }

  &--radio {
    @media (min-width: $width-desctop) {
      margin-bottom: 55px;
    }
  }
}

.survey__group {
  @include margin-padding-0;
  border: none;
}

.survey__title {
  @include margin-padding-0;
  @include title;

  width: 100%;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 21px;

    @media (min-width: $width-tablet) {
      margin-bottom: 28px;
    }
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 28px;
    font-size: 21px;

    &--accent {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 360px 1fr;
      gap: 30px;
      align-items: center;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-surface-border-lighten;
      }
    }
  }

  &--column {
    @media (min-width: $width-tablet) {
      padding: 0 15px;
    }

    @media (min-width: $width-desctop) {
      margin-left: 8px;
    }
  }
}

.survey__content-wrapper {
  &--column-left {
    @media (min-width: $width-tablet) {
      padding-right: 44px;
    }

    @media (min-width: $width-desctop) {
      padding-right: 52px;
    }
  }

  &--column-right {
    @media (min-width: $width-tablet) {
      padding-left: 44px;
    }

    @media (min-width: $width-desctop) {
      padding-left: 79px;
    }
  }
}

.survey__input {
  @include margin-padding-0;

  margin-bottom: 16px;
}

.survey__input-title {
  @include text;

  display: block;
  cursor: text;

  &:not(:last-child) {
    margin-left: 15px;
  }

  &--icon {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -58px;
      width: 58px;
      height: 58px;
      background-color: $color-surface-darken;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
      padding: 20px;
    }
  }

  &--icon-phone {
    &::before {
      background-image: url("../img/icon/icon-phone.svg");
    }
  }

  &--icon-email {
    &::before {
      background-image: url("../img/icon/icon-email.svg");
    }
  }
}

.survey__input-field {
  width: 100%;
  padding: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-secondary;
  outline: none;
  border: 4px solid transparent;
  background-color: $color-surface;

  &::placeholder {
    color: $color-secondary-03;
  }

  &:hover {
    background-color: $color-surface-dark;
  }

  &:focus {
    border: 4px solid $color-surface-dark;
    background-color: $color-main;
  }

  &:active {
    border: 4px solid $color-surface-dark;
    background-color: $color-main;
  }

  &--icon {
    width: calc(100% - 54px);
  }
}

.survey__list {
  @include list-style-none;

  &--radio {
    display: grid;

    @media (min-width: $width-tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      padding: 0 36px;
    }

    @media (min-width: $width-desctop) {
      grid-template-columns: repeat(3, minmax(240px, auto));
      gap: 62px;
      padding: 17px 53px;
    }
  }

  &--mark {
    display: grid;
    padding-bottom: 8px;

    @media (min-width: $width-tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 32px;
      padding: 0 84px;
    }

    @media (min-width: $width-desctop) {
      grid-template-columns: repeat(4, minmax(150px, auto));
      gap: 16px 64px;
      padding: 32px 44px 42px;
    }
  }
}

.survey__item {
  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $width-tablet) {
      margin-bottom: 0;
    }
  }
}

.survey__control {
  position: relative;
  display: block;
  min-height: 46px;
  padding-top: 10px;
  padding-left: 62px;
  cursor: pointer;
}

// .survey__control-input {
// }

// Radio control
.survey__control-radio {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  outline: none;
  background-color: $color-surface;
}

.survey__control-input--radio:checked + .survey__control-radio {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-secondary-light;
  }
}

.survey__control:hover .survey__control-radio {
  background-color: $color-surface-dark;
}

.survey__control-input:focus + .survey__control-radio {
  background-color: $color-surface-dark;
}

.survey__control-input:disabled + .survey__control-radio {
  background-color: $color-surface-border-light;
}

// Mark control
.survey__control-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  outline: none;
  background-color: $color-surface;
}

.survey__control-input--mark:checked + .survey__control-mark {
  background-image: url("../img/icon/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.survey__control:hover .survey__control-mark {
  background-color: $color-surface-dark;
}

.survey__control-input:focus + .survey__control-mark {
  background-color: $color-surface-dark;
}

.survey__control-input:disabled + .survey__control-mark {
  background-color: $color-surface-border-light;
}

.survey__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-secondary;
}

.survey__comment {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-secondary;
  resize: none;
  outline: none;
  border: 4px solid transparent;
  background-color: $color-surface;
  overflow: auto;

  &::placeholder {
    color: $color-secondary-03;
  }

  &:hover {
    background-color: $color-surface-dark;
  }

  &:focus {
    border: 4px solid $color-surface-dark;
    background-color: $color-main;
  }

  &:active {
    border: 4px solid $color-surface-dark;
    background-color: $color-main;
  }

  @media (min-width: $width-tablet) {
    @include margin-0-auto;

    max-width: 768px;
    min-height: 160px;
  }
}

.survey__button-wrapper {
  padding: 30px $p-l-r 16px;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    @include margin-0-auto;
    max-width: 768px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.survey__button {
  margin: 0 auto;
  margin-bottom: 4px;
  display: block;
  width: 100%;
  outline: none;

  @media (min-width: $width-tablet) {
    margin: 0;
    margin-right: 25px;
    max-width: 50%;
  }
}

// .survey__button--send {
// }

.survey__note {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  color: $color-secondary-light-03;

  @media (min-width: $width-tablet) {
    margin: 0;
    max-width: 50%;

    font-weight: 400;
    font-size: 14px;
    color: $color-secondary-light;
  }
}
