.video__player-wrapper {
  @include margin-0-auto;

  margin-top: 38px;

  @media (min-width: $width-tablet) {
    margin-top: 82px;
  }

  @media (min-width: $width-desctop) {
    margin-top: 87px;
  }
}

.video-player {
  position: relative;
  width: 280px;
  height: 177px;
  cursor: pointer;
  background-color: $color-surface-lighten;

  :hover {
    background-color: $color-secondary-01;
  }

  :focus {
    background-color: $color-secondary-01;
  }

  @media (min-width: $width-tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $width-desctop) {
    width: 800px;
    height: 500px;
  }
}

.video-player__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-player__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.video-player__icon {
  width: 48px;
  height: 54px;
  fill: $color-main-07;
}

.video-player__button:hover .video-player__icon {
  fill: $color-main;
  background-color: transparent;
}

.video-player__button:focus .video-player__icon {
  fill: $color-main;
}

.video-player__button:active .video-player__icon {
  fill: $color-main-07;
}
