.video {
  padding: 17px $p-l-r 0;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-main;

  @media (min-width: $width-tablet) {
    padding: 60px $p-l-r-tablet 40px;
  }

  @media (min-width: $width-desctop) {
    padding: 60px $p-l-r-desctop;
  }
}

.video__description-content {
  @include margin-0-auto;

  max-width: 520px;
}

.video__description-title {
  @include title;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  @media (min-width: $width-tablet) {
    font-size: 30px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.video__description-text {
  @include text;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

// .video__player-wrapper {
// }

// .video__player-image {
// }

// .video__player-button {
// }

// .video__player-icon {
// }
